<% content_for :title, "Search Results - #{@topic.title}" %>

<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">Search Results</h1>
      <p class="mt-2 text-sm text-gray-700">
        <% if @results.any? %>
          Found <%= @pagy.count %> quotes
          <%= "for \"#{@search_term}\"" if @search_term.present? %>
          <%= "by #{@author}" if @author.present? %>
        <% else %>
          No quotes found. Try adjusting your search terms.
        <% end %>
      </p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <%= link_to send("search_wikiquotes_#{@topic.class.name.underscore}_quotes_path", @topic),
          class: "text-sm font-semibold leading-6 text-blue-600 hover:text-blue-500" do %>
        â† New Search
      <% end %>
    </div>
  </div>

  <%= turbo_frame_tag "search_results" do %>
    <%= render 'results_content', results: @results, pagy: @pagy, topic: @topic %>
  <% end %>
</div> 