<%= paginator.render do -%>
  <nav role="navigation" aria-label="pager" class="flex items-center justify-between border-t border-gray-200 px-4 sm:px-0">
    <div class="flex w-0 flex-1">
      <%= prev_page_tag unless current_page.first? %>
    </div>
    <div class="hidden md:flex">
      <div class="inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
        <%= first_page_tag unless current_page.first? %>
        <% each_page do |page| -%>
          <% if page.display_tag? -%>
            <%= page_tag page %>
          <% elsif !page.was_truncated? -%>
            <%= gap_tag %>
          <% end -%>
        <% end -%>
        <%= last_page_tag unless current_page.last? %>
      </div>
    </div>
    <div class="flex w-0 flex-1 justify-end">
      <%= next_page_tag unless current_page.last? %>
    </div>
  </nav>
<% end -%> 