<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Devil's Dictionary" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <%= render "shared/flash" if flash.any? %>
    <div id="flash"></div>
    <% if authenticated? %>
      <div>
        <!-- Off-canvas menu for mobile -->
        <div class="relative z-50 lg:hidden" role="dialog" aria-modal="true" data-controller="mobile-menu">
          <div class="fixed inset-0 bg-gray-900/80" data-mobile-menu-target="overlay" data-action="click->mobile-menu#close"></div>
          <div class="fixed inset-0 flex">
            <%= render "shared/admin_mobile_menu" %>
          </div>
        </div>

        <!-- Static sidebar for desktop -->
        <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
          <%= render "shared/admin_sidebar" %>
        </div>

        <div class="lg:pl-72">
          <%= render "shared/admin_header" %>
          <main class="py-10">
            <div class="px-4 sm:px-6 lg:px-8">
              <%= yield %>
            </div>
          </main>
        </div>
      </div>
    <% else %>
      <!-- Regular layout for non-authenticated users -->
      <%= render "shared/header" %>
      <main>
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
