<!DOCTYPE html>
<html class="h-full bg-gray-50 antialiased" lang="<%= I18n.locale %>">
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= content_for(:title) %> | Post-Modern Devil's Dictionary
      <% else %>
        Post-Modern Devil's Dictionary
      <% end %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <div class="min-h-full">
      <%= render "shared/header" %>
      
      <%= turbo_frame_tag "search_results", target: "_top" %>
      
      <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
