<!DOCTYPE html>
<html class="h-full bg-gray-50 antialiased" lang="<%= I18n.locale %>">
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= content_for(:title) %> | Post-Modern Devil's Dictionary
      <% else %>
        Post-Modern Devil's Dictionary
      <% end %>
    </title>
    
    <%# Basic Meta Tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "A modern take on Ambrose Bierce's Devil's Dictionary" %>">
    
    <%# Open Graph Meta Tags %>
    <% if content_for?(:og_tags) %>
      <%= yield(:og_tags) %>
    <% else %>
      <meta property="og:title" content="Post-Modern Devil's Dictionary">
      <meta property="og:type" content="website">
      <meta property="og:url" content="<%= root_url %>">
      <meta property="og:description" content="A modern take on Ambrose Bierce's Devil's Dictionary">
    <% end %>
    
    <%# Apple Messages Rich Preview Tags %>
    <meta name="apple-mobile-web-app-title" content="<%= content_for?(:title) ? yield(:title) : "Post-Modern Devil's Dictionary" %>">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    <meta property="og:image:type" content="image/gif">
    
    <%# JSON-LD Structured Data %>
    <% if content_for?(:structured_data) %>
      <script type="application/ld+json">
        <%= yield(:structured_data).html_safe %>
      </script>
    <% end %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <div class="min-h-full">
      <%= render "shared/header" %>
      
      <%= turbo_frame_tag "search_results", target: "_top" %>
      
      <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
